/* Base CSS */
*{
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

body{
    width: 100vw;
    
}

.forma__top {
    background-image: url(../img/Forma-cima.svg);
    background-size: 90vw;
    height: 600px;
    position: absolute;
    top: 0;
    width:100%;
    
}

header {
    align-items: center;
    display: flex;
    height: auto;
    position:absolute;
    top: 0;
   
}

.header__ico {
    background: none;
    border: none;
    padding: 6vw 5vw 0 5vw;
 
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.texto__chamadas {
    font-size: 16px;
    text-align: center;
    color: #3772FF;

}

.botao {
    border: #FC7071;
    background-color: #FC7071;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px ;
    font-weight: 600;
    height: auto;

}

footer {
    align-items: center;
    background-color: #36D6AD; 
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%;
  }

footer p {
    color: #fff;
}

.input {
    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    height: 3em;
    width: 80%;
}

.input::placeholder {
    color: #BCBCBC;;
  }

.titulo-azul {
    color:#3772FF;
    font-size: 16px;
    font-weight: 600;
}

@media screen and (min-width: 650px) {
    .forma__top {
        background-size: 70vw;  
        
    }

    


    }

@media screen and (min-width: 1200px) {
    .forma__top {
        background-size: 43vw;     
    }
    .header {
      
    }
    
    .header__ico {
        padding: 5vh 0 2vh 8vw;
        

    }

}
/* Página Inicial */

.inicial__body { 
    background-color: #3772FF;

}

.inicial__logo {
    margin: 40% auto 10% auto;

}

.inicial__conteudo {
    align-items: center;
    background-image: url(../img/Forma-direita.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -7%;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 600px;
    position: absolute;  
    width: 100vw; 

}

.inicial__conteudo h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 1.5em;

}

.inicial__conteudo p {
    color:#fff;
    height: 6em;
    width: 65vw;

}

.inicial__conteudo-botoes {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 7em;
    margin: 8px auto;
    width: 50vw;
}

.inicial__botao  {
    margin-bottom: 20px;
    padding: 5%;
    text-align: center;   
    width: 50vw;

}

.inicial__decoracao {
    background-image: url(../img/Inicial-ilustração.svg);
    background-position-x: 40%;
    background-position-y: 110% ;
    height: 600px;
   

}
@media screen and (min-width: 650px) {

    .inicial__conteudo p {
        font-size: 18px;
        width: 47vw;

    }

    .inicial__conteudo h2 {
        font-size:28px ;

    }

    .inicial__decoracao {
        background-position-x: 45%;
        background-position-y: 105% ;
        height: 650px;

    }

    .inicial__conteudo {
        height: 600px;

    }

    .inicial__conteudo-botoes {
        width: 47vw ;

    }
    
}

/* Base Cadastro e Login */

.logo-azul img{
    margin: 40% auto 10% auto;
    width: 35%;

}

.decoracao__patinhas {  
    background-image: url(../img/Patas.svg);
    background-position-x: right;  
    position: absolute;
    height: 60%;
    width: 100%;  
}

.chamada__cadastroLogin {
    margin: 0 auto 0.8em auto;
    width: 80%;
    
}

.cadastro {
    align-items: center;
    background-image: url(../img/Forma-esquerda.svg);
    background-position-y: 5vh;  
    display: flex;
    flex-direction: column;
    height: 500px;

}

.cadastro p {
    margin-top: 1em;
    margin-bottom: 5px;

}

.cadastro input {
    background-color: #F7F7F7;
    height: 3em;
    text-align: center; 

}


.botao__comum {
    width: 10em;
    padding: 0.5em 0 0.5em 0;
    margin: 20px;

}

@media screen and (min-width: 650px) {
    .input {
        width: 50vw;

    }

    .cadastro {
        background-image: url(../img/Forma-direita.svg);
        background-position: right;
        background-position-y: -2vh;
        background-size: 12vw; 

    }

    .chamada__cadastroLogin {
     width: 68%;

    }
}

/* Login */

.chamada__login {
    height: 100px;

}

.chamada__login p {
    padding-top: 20px;

}

.login {
    height: 500px;

}

.esqueci__senha {
 color: #FC7071;
 margin: 1em auto 2em auto;

}

/* Base Home, Mensagem e Perfil */

.icone__perfil {
    position: absolute;
    right: 10vw;
    top: 0vh;
        
 }

.chamada__sem__logo {
    color:#3772FF;
    font-size: 16px;
    margin: 40% auto 8% auto;
    text-align: center;
    width: 80%;
}
 @media screen and (min-width: 1200px) {
    .chamada__sem__logo {
        margin: 20% auto 5% auto;
    }



 }




/* Home */


.sessao__de__cards {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.cartao {
    background-color: #F7F7F7;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px auto;
    padding: 10px 0;
    width: 344px;
 
}

.cartao__conteudo {
    color: #737380;
    display: grid;
    padding: 10px;
   
}

.cartao__cidade {
    font-size: 12px;
}

.cartao__img {
    padding: 10%;
    width: 148px;
    height: 148px;
    
}

.cartao__texto {
    font-size: 14px;
}

.cartao__falar__com {
    align-items:flex-start;
    display: flex;
    font-size: 10px;
  
}
.cartao__botao__mensagem {   
    background-color: #F7F7F7;
    border: none;
    display: inline;
    padding-right: 5px;
}





/* Base Mensagem e Perfil */

.container__mensagem {
    background-color: #F7F7F7;
    border-radius: 6px;  
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 680px;
    margin: 0 auto 50px auto;
    padding: 2%;
    width: 80%;  

}
.mensagem__input {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin: 5% auto 5% auto; 
    mix-blend-mode: normal;
    padding-left: 5%;
    text-align: start;
    width: 85%;
    }

.container__mensagem input::placeholder{
    color: #BCBCBC;
}

.mensagem  {
    color: #BCBCBC;
    height: 12em;
    margin: 5% auto 5% auto;
    padding: 5%;
    text-align: start;
    width: 85%;
}


.alinha__botao {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.enviar__mensagem button {
    margin: auto;}

    @media screen and (min-width: 650px) {
        .forma__direita{
        top: 25vh;
            width: 100%;
            height: 900px;
        position:absolute;
        background-image: url(../img/Forma-direita.svg);
        background-position: right;
        background-size: 15vw;
        
       }
       
        
        .container__mensagem {
            width: 60%;
           
        }

       
    }


/* Perfil */

.perfil {
    height: 825px;
}

.perfil input::placeholder {
    color: #737380;
}

.perfil .mensagem::placeholder{
    color: #737380;   
}

.editar__perfil {
    color: #FC7071;
    display: block;
    font-size: 12px;
}

.perfil__foto {
    background-color: none;
    border: none;
    height: 80px; 
    margin-top:20px ;
    width: 80px;
}

.centraliza {
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;  
}

.centraliza p {
    margin-top: 20px;
}