/* CSS comum a todas as páginas */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-repeat: no-repeat;
}
body{
    width: 100vw;
}

.forma__top {
    background-image: url(../img/Forma-cima.svg);
    background-size: 90vw;
    top: 0;
    position: absolute;
    height: 600px;
    width:100%;
    
}

header {
    align-items: center;
    display: flex;
    height: 15vh;
    justify-content:left;
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 0;
}

.header__ico {
    background: none;
    border: none;
    padding: 6vw 5vw 0 5vw;

  
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto__chamadas {
    font-size: 16px;
    text-align: center;
    color: #3772FF;
}

.botao {

    background-color: #FC7071;
    border: #FC7071;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px ;
    font-weight: 600;
    height: auto;

}

footer {
    align-items: center;
    background-color: #36D6AD; 
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 0;
    align-self:baseline;
    width: 100%;
  }

footer p {
    color: #fff;
}

.input {
    border-radius: 6px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    width: 80%;
    height: 3em;
}

.input::placeholder {
    color: #BCBCBC;;
  }

.titulo-azul {
    color:#3772FF;
    font-weight: 600;
    font-size: 16px;
}

@media screen and (min-width: 650px) {
    .forma__top {
        background-size: 70vw;  
        
    }



    }
/* CSS da página Inicial */

.inicial__body { 
    background-color: #3772FF;
}

.inicial__logo {
    margin: 40% auto 10% auto;
}

.inicial__conteudo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 600px;
    align-items: center;
    color: #fff;
    background-image: url(../img/Forma-direita.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -7%;
    position: absolute;   
}

.inicial__conteudo h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;
    margin-bottom: 1.5em;
}

.inicial__conteudo p {
    width: 65vw;
    height: 6em;
    color:#fff;
}

.inicial__conteudo-botoes {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 7em;
    margin: 8px auto;
    width: 50vw;
}

.inicial__conteudo-botoes button  {   
    width: 50vw;
    margin-bottom: 20px;
    padding: 5%; 
}

.inicial__decoracao {
    margin-top: ;
    background-image: url(../img/Inicial-ilustração.svg);
    background-position-x: 40%;
    background-position-y: 110% ;
    height: 600px;
}
@media screen and (min-width: 650px) {

    .inicial__conteudo p {
        width: 47vw;
        font-size: 18px;
    }
    .inicial__conteudo h3 {
        font-size:28px ;
    }
    .inicial__decoracao {
        height: 650px;
        background-position-x: 45%;
        background-position-y: 105% ;
    }
    .inicial__conteudo {
        height: 600px;
    }
    
}

/* CSS comum ás páginas Cadastro e Login */

.logo-azul img{
    width: 35%;
    margin: 40% auto 10% auto;
}

.decoracao__patinhas {  
    background-image: url(../img/Patas.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    position: absolute;
    height: 60%;
    width: 100%;  
}

.chamada__cadastroLogin {
    margin: 0 auto 0.8em auto;
    width: 80%;
    
}

.cadastro {
    align-items: center;
    background-image: url(../img/Forma-esquerda.svg);
    background-position-y: 5vh;  
    display: flex;
    flex-direction: column;
    height: 500px;
}

.cadastro p {
    margin-top: 1em;
    margin-bottom: 5px;
}

.cadastro input {
    background-color: #F7F7F7;
    height: 3em;
    text-align: center;      
}


.botao__comum {
    width: 10em;
    padding: 0.5em 0 0.5em 0;
    margin: 20px;   
}
@media screen and (min-width: 650px) {
    .input {
        width: 50vw;
    }

    .cadastro {
        background-image: url(../img/Forma-direita.svg);
        background-position: right;
        background-position-y: -2vh;
        background-size: 12vw; 

    }
    .chamada__cadastroLogin {
     width: 68%;
    }
}

/* CSS página Login */

.chamada__login {
    height: 100px;
}

.chamada__login p {
    padding-top: 20px;
}

.login {
    height: 500px;
}

.esqueci__senha {
 color: #FC7071;
 margin: 1em auto 2em auto;

}

/* CSS da página Home */
.chamada__sem__logo {
    width: 80%;
    margin: 40% auto 8% auto;
    font-size: 16px;
    color:#3772FF;
    text-align: center;
   
}

.sessao__de__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
   

}

.cartao {
    background-color: #F7F7F7;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0 10px 0;
    padding: 10px 0;
    width: 100%;
 

}

.cartao__conteudo {
    display: grid;
    color: #737380;
    padding: 10px;


   
}

.cartao__cidade {
    font-size: 12px;
}

.cartao__img {
    width: 40vw;
    padding: 10%;
    
}

.cartao__texto {
    font-size: 14px;
}

.cartao__falar__com {
    font-size: 10px;
    display: flex;
    align-items:flex-start;

  
}
.cartao__botao__mensagem {
    display: inline;
    border: none;
    background-color: #F7F7F7;
    padding-right: 5px;
}

/* Comum às páginas Home, Mensagem e Perfil */

.icone__perfil {
   right: 10vw;
   top: 3vh;
   position: absolute;
   
}

/* Comum às páginas Mensagem e Perfil */

.container__mensagem {
    background-color: #F7F7F7;
    border-radius: 6px;  
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 680px;
    margin: 0 auto 50px auto;
    padding: 2%;
    width: 80%;  

}
.mensagem__input {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin: 5% auto 5% auto; 
    mix-blend-mode: normal;
    padding-left: 5%;
    text-align: start;
    width: 85%;
    }

.container__mensagem input::placeholder{
    color: #BCBCBC;
}

.mensagem  {
    color: #BCBCBC;
    height: 12em;
    margin: 5% auto 5% auto;
    padding: 5%;
    text-align: start;
    width: 85%;
  }


.alinha__botao {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.enviar__mensagem button {
    margin: auto;}

    @media screen and (min-width: 650px) {
        .forma__direita{
        top: 25vh;
            width: 100%;
            height: 900px;
        position:absolute;
        background-image: url(../img/Forma-direita.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 15vw;
        
       }
       
        
        .container__mensagem {
            width: 60%;
           
        }

       
    }


/*página perfil */

.perfil {
    height: 825px;
}

.perfil input::placeholder {
    color: #737380;
}

.perfil .mensagem::placeholder{
    color: #737380;   
}

.editar__perfil {
    color: #FC7071;
    display: block;
    font-size: 12px;
}

.perfil__foto {
    background-color: none;
    border: none;
    height: 80px; 
    margin-top:20px ;
    width: 80px;
}

.centraliza {
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;  
}

.centraliza p {
    margin-top: 20px;
}