/* CSS comum a todas as páginas */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-repeat: no-repeat;
}
body{
    width: 100vw;
}

.forma__top {
    background-image: url(../img/Forma-cima.svg);
    background-size: 90vw;
    top: 0;
    position: absolute;
    height: 300px;
    width:100%;
}

header {
    align-items: center;
    display: flex;
    height: 15vh;
    justify-content:space-around;
    margin-left: 10%;
    width: 40vw;
    position: absolute;
    top: 0;
}

.header__ico {
    background: #36D6AD;
    border: 1px solid #36D6AD;
  
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto__chamadas {
    font-size: 16px;
    text-align: center;
    color: #3772FF;
}

.botao {

    background-color: #FC7071;
    border: #FC7071;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px ;
    font-weight: 600;
    height: auto;

}

footer {
    align-items: center;
    background-color: #36D6AD; 
    display: flex;
    height: 100px;
    justify-content: center;
    margin: 0;
    align-self:baseline;
    width: 100%;
  }

footer p {
    color: #fff;
}

input {
    width: 80%;
    border-radius: 6px;
}

.titulo-azul {
    color:#3772FF;
    font-weight: 600;
    font-size: 16px;
}

/* CSS da página Inicial */

.inicial__body { 
    background-color: #3772FF;
}

.inicial__logo {
    margin: 40% auto 10% auto;
}

.inicial__conteudo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 600px;
    align-items: center;
    color: #fff;
    background-image: url(../img/Forma-direita.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    position: absolute;   
}

.inicial__conteudo h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;
    margin-bottom: 1.5em;
}

.inicial__conteudo p {
    width: 65vw;
    height: 6em;
    color:#fff;
}

.inicial__conteudo-botoes {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 7em;
    margin: 8px auto;
    width: 50vw;
}

.inicial__conteudo-botoes button  {   
    width: 50vw;
    margin-bottom: 20px;
    padding: 5%; 
}

.inicial__decoracao {
    margin-top: ;
    background-image: url(../img/Inicial-ilustração.svg);
    background-position-x: 40%;
    background-position-y: 110% ;
    height: 600px;
}


/* CSS comum ás páginas Cadastro e Login */

.logo-azul img{
    width: 35%;
    margin: 40% auto 10% auto;
}

.decoracao__patinhas {  
    background-image: url(../img/Patas.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    position: absolute;
    height: 60%;
    width: 100%;  
}

.chamada__cadastroLogin {
    margin: 0 auto 0.8em auto;
    width: 80%;
    
}

.cadastro {
    align-items: center;
    background-image: url(../img/Forma-esquerda.svg);
    background-position-y: 5vh;  
    display: flex;
    flex-direction: column;
    height: 500px;
}

.cadastro p {
    margin-top: 1em;
    margin-bottom: 5px;
}

.cadastro input {
    background-color: #F7F7F7;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    height: 3em;
    text-align: center;      
}

.cadastro input::placeholder {
    color: #BCBCBC;;
  }

.botao__comum {
    width: 10em;
    padding: 0.5em 0 0.5em 0;
    margin: 20px;   
}


/* CSS página Login */

.chamada__login {
    height: 100px;
}

.chamada__login p {
    padding-top: 20px;
}

.login {
    height: 500px;
}

.esqueci__senha {
 color: #FC7071;
 margin: 1em auto 2em auto;

}

/* CSS da página Home */
.chamada__home {
    width: 80%;
    margin: 40% auto 8% auto;
    font-size: 16px;
    color:#3772FF;
    text-align: center;
}

.sessao__de__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.cartao {
    background-color: #F7F7F7;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0 10px 0;
    padding: 10px 0;
    width: 100%;

}

.cartao__conteudo {
    display: grid;
    color: #737380;
    padding: 10px;
   
}

.cartao__cidade {
    font-size: 12px;
}

.cartao__img {
    width: 40vw;
    padding: 10%;
    display: inline;
}

.cartao__texto {
    font-size: 14px;
}

.cartao__falar__com {
    font-size: 10px;
    display: inline-block;
    align-self: center;
}
.cartao__botao__mensagem {
    display: inline;
    border: none;
    background-color: #F7F7F7;
}

