:root {
    --azul: #3772FF;
    --branco: #fff;
    --cinza-claro: #F7F7F7;
    --cinza: #BCBCBC;
    --cinza-escuro: #737380;
    --salmao: #FC7071;
    --verde-caribe: #36D6AD;
    --shadow-botao:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    --shadow-input:0px 2px 4px rgba(0, 0, 0, 0.15);
    --direita: url(../img/Forma-direita.svg);
    --esquerda: url(../img/Forma-esquerda.svg);

}


/* Base CSS */
*{
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

body{
    width: 100vw;
    
}

.forma__top {
    background-image: url(../img/Forma-cima.svg);
    background-size: 90vw;
    height: 600px;
    position: absolute;
    top: 0;
    width:100%;
    
}

.forma__mobile {
    height: 50vh;
    width: 100vw;
    position: absolute;
    background-image: var(--direita);
    background-position-x:right;

    
    

}

.forma__esquerda {
    background-image: var(--esquerda);
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-position-x:left;
    background-position-y: 75%;
    z-index: -1;

}

header {
    align-items: center;
    display: flex;
    height: auto;
    position:absolute;
    top: 0;
   
}

.header__ico {
    background: none;
    border: none;
    padding: 6vw 5vw 0 5vw;
 
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.texto__chamadas {
    font-size: 16px;
    text-align: center;
    color: var(--azul);

}

.botao {
    border: var(--salmao);
    background-color: var(--salmao);
    border-radius: 6px;
    box-shadow: var(--shadow-botao);
    color: var(--branco);
    font-size: 16px ;
    font-weight: 600;
    height: auto;

}

footer {
    align-items: center;
    background-color: var(--verde-caribe); 
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%;
  }

footer p {
    color: var(--branco);
}

.input {
    border: none;
    border-radius: 6px;
    box-shadow: var(--shadow-input);
    height: 3em;
    width: 80%;
}

.input::placeholder {
    color: var(--cinza);
  }

.titulo-azul {
    color: var(--azul);
    font-size: 16px;
    font-weight: 600;
}

@media screen and (min-width: 650px) {
    .forma__top {
        background-size: 70vw;  
        
    }

    .forma__centro {

    }
    
    input {
        height: 3em;
    }

}
@media screen and (min-width: 1200px) {
    .forma__top {
        background-size: 43vw;     
    }
    
    .header__ico {
        padding: 5vh 0 2vh 8vw;
        

    }

}

/* Página Inicial */

.inicial__body { 
    background-color: var(--azul);

}

.inicial__logo {
    margin: 40% auto 10% auto;

}

.inicial__conteudo {
    align-items: center;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    height: 600px;
    position: absolute;  
    width: 100vw; 

}

.inicial__conteudo h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 1.5em;

}

.inicial__conteudo p {
    color:var(--branco);
    height: 6em;
    width: 65vw;

}

.inicial__conteudo-botoes {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 7em;
    margin: 8px auto;
    width: 50vw;
}

.inicial__botao  {
    margin-bottom: 20px;
    padding: 5%;
    text-align: center;   
    width: 50vw;

}

.inicial__decoracao {
    background-image: url(../img/Inicial-ilustração.svg);
    background-position-x: 40%;
    background-position-y: 110% ;
    height: 600px;
   

}
@media screen and (min-width: 650px) {

    .inicial__conteudo p {
        font-size: 18px;
        width: 47vw;

    }

    .inicial__conteudo h2 {
        font-size:28px ;

    }

    .inicial__decoracao {
        background-position-x: 45%;
        background-position-y: 105% ;
        height: 650px;

    }

    .inicial__conteudo {
        height: 600px;

    }

    .inicial__conteudo-botoes {
        width: 47vw ;

    }
    
}

/* Base Cadastro e Login */

.logo-azul img{
    margin: 40% auto 10% auto;
    width: 35%;

}

.decoracao__patinhas {  
    background-image: url(../img/Patas.svg);
    background-position-x: right;  
    position: absolute;
    height: 60%;
    width: 100%;  
}

.chamada__cadastroLogin {
    margin: 0 auto 0.8em auto;
    width: 80%;
    
}

.cadastro__caixa {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 480px;

}

.cadastro__caixa p {
    margin-top: 1em;
    margin-bottom: 5px;

}

.cadastro__caixa input {
    background-color: var(--cinza-claro);
    text-align: center; 

}

.botao__comum {
    width: 10em;
    padding: 0.5em 0 0.5em 0;
    margin: 20px;


}

@media screen and (min-width: 650px) {
    .input {
        width: 50vw;

    }

    .chamada__cadastroLogin {
        width: 68%;

    }
}

/* Login */

.chamada__login {
    height: 100px;

}

.chamada__login p {
    padding-top: 20px;

}

.login {
    height: 500px;

}

.esqueci__senha {
    color: var(--salmao);
    margin: 1em auto 2em auto;

}

/* Base Home, Mensagem e Perfil */

.icone__perfil {
    position: absolute;
    right: 10vw;
    top: 0vh;
        
 }

.chamada__sem__logo {
    color:var(--azul);
    font-size: 16px;
    margin: 40% auto 8% auto;
    text-align: center;
    width: 80%;
}
@media screen and (min-width: 1200px) {
    .chamada__sem__logo {
        margin: 20% auto 5% auto;
    }



 }




/* Home */


.sessao__de__cards {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.cartao {
    background-color: var(--cinza-claro);;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px auto;
    padding: 10px 0;
    width: 344px;
 
}

.cartao__conteudo {
    color: var(--cinza-escuro);
    display: grid;
    padding: 10px;
   
}

.cartao__cidade {
    font-size: 12px;
}

.cartao__img {
    padding: 10%;
    width: 148px;
    height: 148px;
    
}

.cartao__texto {
    font-size: 14px;
}

.cartao__falar__com {
    align-items:flex-start;
    display: flex;
    font-size: 10px;
  
}
.cartao__botao__mensagem {   
    background-color: var(--cinza-claro);
    border: none;
    display: inline;
    padding-right: 5px;
}





/* Base Mensagem e Perfil */

.container__mensagem {
    background-color: var(--cinza-claro);
    border-radius: 6px;  
    box-shadow: var(--shadow-input);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 680px;
    margin: 0 auto 50px auto;
    padding: 2%;
    width: 80%;  

}

.mensagem__input {
    box-shadow: var(--shadow-input);
    margin: 5% auto 5% auto; 
    mix-blend-mode: normal;
    padding-left: 5%;
    text-align: start;
    width: 85%;
    border: none;
    }

.container__mensagem input::placeholder{
    color: var(--cinza);
}

.mensagem  {
    color: var(--cinza);
    height: 12em;
    margin: 5% auto 5% auto;
    padding: 5%;
    text-align: start;
    width: 85%;
}


.alinha__botao {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.enviar__mensagem button {
    margin: auto;}

@media screen and (min-width: 650px) {
    .forma__direita{
        top: 25vh;
        width: 100%;
        
        position:absolute;
        background-image: url(../img/Forma-direita.svg);
        background-position: right;
        background-size: 15vw;
        
    }
       
    .mensagem__input {
        padding: 2.5% 0 2.5% 5%
    }
    .container__mensagem {
        width: 60%;
       
    }
    .alinha__botao {
        margin-bottom: 15px;
    }

       
    }


/* Perfil */

.perfil {
    height: 825px;
}

.perfil input::placeholder {
    color: var(--cinza-escuro);
}

.perfil .mensagem::placeholder{
    color: var(--cinza-escuro);   
}

.editar__perfil {
    color: var(--salmao);
    display: block;
    font-size: 12px;
}

.perfil__foto {
    background-color: none;
    border: none;
    height: 80px; 
    margin-top:20px ;
    width: 80px;
}

.centraliza {
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;  
}

.centraliza p {
    margin-top: 20px;
}